{% extends 'farmers/main.html' %}

{% load static %}

{% block content %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PROFILE</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">PROFILE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-0">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/about-img.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <h2 class="ADDING ITEM"><b>These are the items uploaded</b> </h2><br>
                                  
                
                
                  
                
                <!DOCTYPE html>
                <html>
                <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                * {
                box-sizing: border-box;
                }

                /* Create two equal columns that floats next to each other */
                .column {
                float: left;
                width: 50%;
                padding: 10px;
                height: 300px; /* Should be removed. Only for demonstration */
                }

                /* Clear floats after the columns */
                .row:after {
                content: "";
                display: table;
                clear: both;
                }
                </style>
                </head>
                <body>

               

                <div class="row">
                <div class="column" style="background-color:#ffffff;">
                    <h2>AGRICULTURAL GOODS :</h2>

                        <div class="card card-body">
                        
                            <table class="table table-sm">
                                <tr>
                                    <th>Category</th>
                                    <th>Name of product</th>
                                    <th>Rs (per kg)</th>
                                    <th>Stock</th>
                                    <th>Minimum Purchase</th>
                                    <th>Enter description</th>
                                    <!-- <th>Remove</th> -->
                                </tr>
                        
                                {% for product in goods %}
                        
                                <tr>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.product_name }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.stock }}</td>
                                    <td>{{ product.min_purchase }}</td>
                                    <td>{{ product.desc }}</td>
                                    
                                </tr>
                        
                                {% endfor %}
                        
                            </table>
                            
                        </div>
    
                        <!-- <table class="table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Minimum Purchase</th>
                                <th>Description</th>
                                <th>Remove</th> 
                            </tr>
                        </thead>
                        <tbody> -->
                        

                        
                    <!-- {% for product in goods %}
                    
                    <tr>

                        <td class="name-pr">
                            <a href="#">{{ product.category }}</a>
                        </td>
                    
                        <td class="name-pr">
                            <a href="#">{{ product.product_name }}</a>
                        </td>
                    
                        <td class="price-pr">
                            <p>{{ product.price }}</p>
                        </td>
                        <td class="quantity-box">
                            <p>{{ product.stock }}</p>
                        </td>
                        <td class="quantity-box">
                            <p>{{ product.min_purchase }}</p>
                        </td>
                        <td class="total-pr">
                            <p>{{ product.desc }}</p>
                        </td>
                        
                    </tr>
                    
                    {% endfor %} -->
                <!-- </tbody>
                </table> -->

                        
                </div>

                <div class="column" style="background-color:#ffffff;">
                    
                        <h2>AGRICULTURAL EQUIPMENTS:</h2>

                            <div class="card card-body">
                            
                                <table class="table table-sm">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Description</th>
                                        <!-- <th>Remove</th> -->
                                    </tr>
                            
                                    {% for product in equipments %}
                            
                                    <tr>
                                        <td>{{ product.product_name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.stock }}</td>
                                        <td>{{ product.min_purchase }}</td>
                                        <td>{{ product.desc }}</td>
                            
                                    </tr>
                            
                                    {% endfor %}
                            
                                </table>
                            </div>
                    
                    
                </div>
                </div>

                </body>
                </html>                   
                    
                    
                </div>
            </div>
            
            
                
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    <!-- <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-01.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-02.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-03.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-04.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-06.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-07.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-08.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-09.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     End Instagram Feed  -->

    <br><br><br><br>
    

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'farmers/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'farmers/js/popper.min.js' %}"></script>
    <script src="{% static 'farmers/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'farmers/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'farmers/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'farmers/js/inewsticker.js' %}"></script>
    <script src="{% static 'farmers/js/bootsnav.js.' %}"></script>
    <script src="{% static 'farmers/js/images-loded.min.js' %}"></script>
    <script src="{% static 'farmers/js/isotope.min.js' %}"></script>
    <script src="{% static 'farmers/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'farmers/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'farmers/js/form-validator.min.js' %}"></script>
    <script src="{% static 'farmers/js/contact-form-script.js' %}"></script>
    <script src="{% static 'farmers/js/custom.js' %}"></script>

    
{% endblock %}