{% extends 'farmers/main.html' %}

{% load static %}

{% block content %}


    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>LATEST FARMING TECHNIQUES</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Latest Farming Techniques</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-14">
                    <h2 class="noo-sh-title-top">NEW AND LATEST <span>TECHNOLOGIES IN AGRICULTURE IN INDIA</span></h2>
                    <p><br>
                        <h3><b>Artificial Intelligence</b></h3>
                        For the growth of agriculture, it is essential to identify factors that can contribute to better crop yield and place of harvest. With Artificial Intelligence tools entering the new technology space in agriculture, it becomes possible to reach solutions based data that indicates weather conditions, type of harvest a crop would need, and the type of soil most suitable, etc. Government schemes like Pradhan Mantri Fasal Bima Yojana (PMFBY) will be welcoming Artificial Intelligence technology to reduce the time consumption in settling claims of the farmers.
                       <br><br><h3><b>Mobile Applications</b></h3>
                       Smartphones became a regular commodity for people; the deep penetration of digitalization was felt across the country. As more and more activities moved to the smartphone, the new technology boosted the potential of applications for agricultural technology, purposes as well. The government has mainly focused on backing the use of technology in agriculture with E Nam (National Agriculture Market) an electronic trading portal for agricultural commodities.
                       
                       <br><br><h3><b>Satellite Images for Agriculture </b></h3>
                       Satellite images can be used for various types of information such as road networks, weather changes, a behavior of oceans, etc. But this technology is used to keep an eye on crops without being present on the farm and this saves a considerable amount of money and time.
                       <br><br><h3><b>Animal Tracking</b></h3> 
                       This is mainly for dairy farm technology. A smart collar belt is mainly developed to detect the health and fertility of cows. This tracking device can be integrated with a smartphone or laptop to keep an eye on the behavior of a cow. This will helps to provide treatment, food on time for the cow. Because of this monitoring, we can increase the capability of a cow to produce more quantity of milk and make a good amount of profit from dairy farming.
                       <br><br><h3>Soil and Water Sensors of latest agriculture technologies in India</h3>
                       Perhaps the equipment having the most immediate effect is soil and water sensors and these sensors are durable, unobtrusive and moderately inexpensive. These sensors can detect moisture and nitrogen levels, and the farm can use this to find out when to water and fertilize rather than rely on a predetermined schedule. That results in more efficient use of resources and lowered costs, but it also helps the farm be more environmentally friendly by conserving water, limiting erosion and reducing fertilizer levels in local rivers and lakes.
                       
                       <br><br><h3><b>Crop Production</b> </h3>
                       To develop crop production, several areas need to be taken into consideration. The farmers need to ensure the seeds, equipment and other materials that are made use of are of good quality, the functions are performed appropriately and they possess the required skills and abilities. They want to possess adequate knowledge and awareness to utilize technology appropriately. Weather modification is a technique that is essential to create a suitable climate crops. When the perfect climate for crops is created, it leads to an increase in crop for production.
                       <br><br><h3>Biotechnology of latest agriculture technologies in India </h3>
                       Biotech or genetic engineering (GE) isn't new tech, but it is an important tool with much more potential yet to be unleashed. The form of genetic engineering most people have probably heard of is herbicide resistance. The other could likely be insect-resistant traits. Crops can be made to express toxins that control some pests. Many employ Bt toxin that is the same toxin in organic pesticides. That means a farmer won't have to make a pass through fields to found apply pesticide, which not only saves on pesticide, but fuel, labor, and wear on equipment too.
                       
                       <br><br><h3><b>Smart Materials</b> </h3>
                       The smart materials are used as a collective term for materials that can change their shape through external influences, including pressure, temperature, humidity, acidity, and electric and magnetic fields. Examples of these materials contain piezoelectric materials or piezo crystals, shape memory metal, electric and magnetic-rheological (ER/MR) liquids, conductive polymers, color-changing materials, and light-emitting materials. The use of smart materials in agricultural technology, has proven to be beneficial, they are used to clean up hazardous materials, add up functional performance, have an impact on packaging and so forth.
                       
                       <br><br><h3><b>RFID Technology</b></h3>
                       Radio Frequency Identification (RFID) technology mainly identifies an object by radiofrequency without any contact. It has been successfully applied in many industries such as supply chain management, retail management, logistics management, security supervising, traffic supervising, and more. RFID technology constitutes a farm monitoring system whereby farmers can now protect their crops from pests. And, livestock such as cattle can be monitored using wireless sensor networks. Similarly, livestock management has already made many strides by using RFID systems to help with remote monitoring of animals using dedicated hardware systems and software systems. The RFID technology has already been used for years in some aspects of the agriculture industry.
                       
                       <br><br><h3><b>Vertical Farming of latest agriculture technologies in India </b></h3>
                       Vertical farming is the practice of growing several crops in vertically stacked layers. This offers several advantages. Perhaps the most obvious is the ability to grow within urban environments and have fresher foods available faster and at lower costs. Though, vertical farming won't be limited to just urban environments like initially expected. Farmers in all areas can use it to make better use of obtainable land and to grow crops that wouldn't normally be viable in those locations.

                       
                       <br><br><h3><b>Irrigate via smartphone </b></h3>
                       Mobile technology is playing the main role in monitoring and controlling crop irrigation systems. With the right equipment, a farmer can control irrigation systems from a phone or computer instead of driving to each field. Moisture sensors in the ground can communicate information about the moisture level present at certain depths in the soil. This increased flexibility allows for more precise control of water and other inputs such as fertilizer that are applied by irrigation pivots. above information may be appplied for information technology in agriculture in india, modern technology in agriculture in india, modern technology for enhancing agricultural productivity in india, new technology in agriculture, digital revolution in agriculture in india, advantages of modern technology in agriculture, smart farming technology in india, modern cultivation technologies in india. You might be interested in Modern Gardening The Methods.
                       </p>
                    
					<a class="btn hvr-hover" href="#">Read More</a>
                </div>
            </div>
            
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-1.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Williamson</h3> <span class="post">ADITI BHOSALE</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-2.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Kristiana</h3> <span class="post">RHUGWEDA SHEDGE</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/img-3.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Steve Thomas</h3> <span class="post">SHWETA CHAVAN</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        
                        <hr class="my-0"> </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-01.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-02.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-03.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-04.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-06.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-07.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Time</h3>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Krishi</h4>
                            <p>We drive agrarian exchanges through our computerized stage in combination with our benefit association arrange. Krishi center obliges online installments between buyer and vender, item quality check choices, and end-to-end calculated services.</p>
                    <p>Krishi center does not purchase or offer crops and isn't a broker. Instead, we offer you the capacity to easily showcase your edit by means of our platform.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Dwight Schrute<br> ABC, Churchgate,<br>Mumbai- 400010
                                        <br></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'farmers/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'farmers/js/popper.min.js' %}"></script>
    <script src="{% static 'farmers/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'farmers/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'farmers/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'farmers/js/inewsticker.js' %}"></script>
    <script src="{% static 'farmers/js/bootsnav.js.' %}"></script>
    <script src="{% static 'farmers/js/images-loded.min.js' %}"></script>
    <script src="{% static 'farmers/js/isotope.min.js' %}"></script>
    <script src="{% static 'farmers/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'farmers/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'farmers/js/form-validator.min.js' %}"></script>
    <script src="{% static 'farmers/js/contact-form-script.js' %}"></script>
    <script src="{% static 'farmers/js/custom.js' %}"></script>

    
{% endblock %}